---
import logo from "../../public/assets/logo.png";
import { BsFacebook, BsInstagram, BsTwitter } from 'react-icons/bs';

import { FiFacebook, FiInstagram, FiTwitter } from 'react-icons/fi';
---

<header class="flex items-center justify-between w-full">
  <div class="logo">
    <img src={logo} alt="logo" />
  </div>

  <div class="links text-white">
    <ul class="flex space-x-6">
      <li>MARKETPLACE</li>

      <li>ABOUT</li>

      <li>RESOURCES</li>

      <li>FAQ</li>
    </ul>
  </div>

  

  <div class="social__icons bg-white flex">
  
  <BsFacebook class="text-white" />



  <BsInstagram />
  <BsTwitter />
  
  </div>

  logo
</header>
