---
import imageOne from '../../public/assets/img1.png'
import imageTwo from '../../public/assets/img2.png'
import imageThree from '../../public/assets/img3.png'




const cardDetails = [

{
    "name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageOne
}

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTwo
}

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageThree
}

]
---
<section class="discover__card">

<!-- {
    cardDetails.map(card => (
        <div class="discover__card-container">
            <div class="discover__card-image">
                <img src={card.img} alt=""/>
            </div>
            <div class="discover__card-details">
                <h3>{card.name}</h3>
                <p>{card.tokens} tokens</p>
                <p>{card.solana} solana</p>
            </div>
        </div>
    ))
} -->

</section>



