---
import imageOne from '../../public/assets/img1'
import imageTwo from '../../public/assets/img2'
import imageThree from '../../public/assets/img3'




const cardDetails = [

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageOne
}

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTwo
}

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageThree
}

]
---
<section class="discover__card">

{

}

</section>



