---



let filterGenre = [default]
---    


    <section class="discover">
    
    

    <div class="discover__header">
    
    
    <div class="discover__text">
    
    <h1 class="heading__1">
    Discover Music NFT
    </h1>
    
    
    </div>




    <div class="discover__filter">
    
    
    <p>
    Music Genre
    </p>
    
    </div>
    
    </div>
    
    
    </section>