---


---    


    <section class="discover">
    
    

    <div class="discover__header">
    
    
    <div class="discover__text">
    
    <h1>
    </h1>Discover Music NFT
    
    
    </div>




    <div class="discover__filter">
    
    
    <p>
    Music Genre
    </p>
    
    </div>
    
    </div>
    
    
    </section>