---
import imageOne from '../../public/assets/img1.png'
import imageTwo from '../../public/assets/img2.png'
import imageThree from '../../public/assets/img3.png'
import imageFour from '../../public/assets/img4.png'
import imageFive from '../../public/assets/img5.png'
import imageSix from '../../public/assets/img6.png'
import imageSeven from '../../public/assets/img7.png'
import imageEight from '../../public/assets/img8.png'
import imageNine from '../../public/assets/img9.png'
import imageTen from '../../public/assets/img10.png'
import imageEleven from '../../public/assets/img11.png'
import imageTweleve from '../../public/assets/img12.png'










let cardDetails = [

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageOne
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTwo
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageThree
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageFour
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageFive
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageSix
},


{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageSeven
},



{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageEight
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageNine
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTen
},

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageEleven
},


{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTweleve
},
]
---

    
<section class="discover__card grid sm:grid-col-4 lg:grid-cols-3 p-10 gap-10 bg-black  text-white  py-12  ">

<div class="max-w-7xl mx-auto
"></div>


</section>





<style>

.button__buynft{

  
    background: linear-gradient(to right, #06DBAC, #BD00FF);
}

</style>