---
import imageOne from '../../public/assets/img1'
import imageTwo from '../../public/assets/img2'



const cardDetails = [

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageOne
}

{
    name: 'Heart & Sol',
    tokens: '16',
    solana: '0.3234',
    img : imageTwo
}

]
---
<section class="discover__card">

{
    
}

</section>



