
<section class="">
<h3>

        <h3 class="heading__1">Engage your </h3>
    <h3 class="heading__1"></h3>Fans with community</h3>



<div class="engage__text">


<div class="text__card">
<div class="text__card__number">

</div>

Artists themselves become a platform. NFTs allow artistes, especially upcoming ones, to create an ecosystem that allows genuine fans to buy into their market.
</div>

</div>

</section>