---
import logo from "../../public/assets/logo.png";
import FaceBookLogo from "../../public/assets/facebook.svg";
import TwitterLogo from "../../public/assets/twitter.svg";

import MeduimLogo from "../../public/assets/medium.svg";

let data =[{

    number:
}]
---

<section class="">
<h3>

        <h3 class="heading__1">Engage your </h3>
    <h3 class="heading__1">Fans with community</h3>



<div class="engage__text">


<div class="text__card">
<div class="text__card__number">
01/
</div>

Artists themselves become a platform. NFTs allow artistes, especially upcoming ones, to create an ecosystem that allows genuine fans to buy into their market.
</div>

</div>

</section>