
<footer class="text-white">


<h1 class="text-[46px]">
Shape the NFT Music

</h1>


<div class="social flex space-x-7 ">
<p class="text-3xl font-normal">
FaceBook

</p>

<p class="text-3xl">
Twitter

</p>

<p class="text-3xl">
Medium

</p>



</div>
</footer>