
<footer class="text-white p-5 bg-black">


<h1 class="text-[46px]">
Shape the NFT Music

</h1>


<div class="social flex space-x-7 font-normal py-10">
<p class="text-3xl font-normal border-r pr-4">
FaceBook

</p>

<p class="text-3xl border-r pr-4">
Twitter

</p>

<p class="text-3xl border-r pr-4">
Medium

</p>

<p class="text-3xl">
Contact
</p>


.bac



</div>

<div class="policy flex space-x-10">

<span>
Privacy Policy
</span>

<span>
Terms and Conditions
</span>
</div>
</footer>