
<footer class="text-white">


<h1 class="text-4xl">
Shape the NFT Music

</h1>


<div class="social flex ">
<p class="text-5xl font-normal">
FaceBook

</p>

<p class="text-3xl">
Twitter

</p>

<p class="text-3xl">
Medium

</p>



</div>
</footer>