
<footer class="text-white p-5 bg-black">


<h1 class="text-[46px]">
Shape the NFT Music

</h1>


<div class=" flex justify-between lg:flex-row flex-col space-y-6  font-normal py-10">

<div class="social flex-row space-x-7 items-center space-y-6 flex font-normal">

<p class="text-3xl lg:border-r lg:pr-4">
FaceBook

</p>

<p class="text-3xl lg:border-r lg:pr-4">
Twitter

</p>

<p class="text-3xl lg:border-r lg:pr-4">
Medium

</p>

<p class="text-3xl">
Contact
</p>
</div>



<div class="back__to__top">
<a href="#top" class="flex text-3xl items-center space-x-10">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 12L12 8L8 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 16V8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>



Back to the top
</a>


</div>



</div>

<div class="policy flex space-x-10">

<span>
Privacy Policy
</span>

<span>
Terms and Conditions
</span>
</div>
</footer>