---
import logo from "../../public/assets/logo.png";
import { BsFacebook, BsInstagram, BsTwitter } from "react-icons/bs";
import FaceBookLogo from "../../public/assets/facebook.svg";
import TwitterLogo from "../../public/assets/twitter.svg";

import MeduimLogo from "../../public/assets/medium.svg";
---

<header class="header">
  <div class="logo">
    <img src={logo} alt="logo" />
  </div>

  <div class="links ">
    <ul class="link__list ">
      <li class="item__list">MARKETPLACE</li>

      <li class="item__list">ABOUT</li>

      <li class="item__list">RESOURCES</li>

      <li class="item__list">FAQ</li>
    </ul>
  </div>

  <div class="social__icons">
    <img src={FaceBookLogo} alt="logo" />

    <img src={TwitterLogo} alt="logo" />
    <img src={MeduimLogo} alt="logo" />
  </div>
</header>
