


<div class=" hero3 py-5">
  <section class=" p-5 h-screen ">
    <div class="content text-white">
      <div class="content__text py-20">
        <h2 class="heading__1 ">Music NFT</h2>

        <h3 class="heading__2">Marketplace.</h3>

        <h5 class="hero__text py-5"
          data-aos="fade-up"
          data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="true"
        
        >
Create your first music NFTs with NFT market for musicians. Create music and music videos just under the $1, the platform works with BSC blockchain and supports mp4. With AirNFTs, you are getting the control over your NFTs, no middle man cutting your sales. Create, Buy, Sell and Earn with your music NFTs.

</h5>
  </div>

    
    </div>

   
  </section>


  
  
  
  </div>

    
 
    


<style>


.hero3{
    background: linear-gradient( 262deg, rgba(220, 6, 255, 1) 0%,  rgba(0, 10, 11, 1) 64% );
}
  .content {

    background-image: url("../../public/assets/hero2.png");
    background-size: contain;
    background-position: 577px 43px;
    background-repeat: no-repeat;

    /* background-attachment: fixed; */

    /* background-position: center; */
  }
</style>
