
---
import Hero3 from '../../public/assets/hero3.png'
---

<div class=" hero3 py-5">
  <section class=" p-5  ">
    <div class="content text-white flex    lg:flex-row flex-col-reverse lg:space-x-28">


    
  <div class="content__image flex-1 ">
  
<img src={Hero3} />


  </div>
      <div class="content__text py-20">
        <h2 class="heading__1  ">Music NFT</h2>

        <h3 class="heading__2">Marketplace.</h3>

        <h5 class="hero__text py-5"
         
          data-aos="fade-down"
          data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="true"
        
        >
Create your first music NFTs with NFT market for musicians. 
Create <br class="lg:"/> music and music videos just under the $1, the platform works
 with BSC <br/> blockchain and supports mp4. With AirNFTs, you are getting the 
 control<br/> over your NFTs, no middle man cutting your sales. Create, Buy, Sell and <br/>  Earn with your music NFTs.

</h5>




<button class="discover__more__button my-10">

Explore Marketplace
</button>
  </div>




    
    </div>

   
  </section>


  
  
  
  </div>

    
 
    


<style>


.hero3{
    /* background: linear-gradient( 262deg, rgba(220, 6, 255, 1) 0%,  rgba(0, 10, 11, 1) 64% ); */
}
 
</style>
