


<div class=" hero3 py-5">
  <section class=" p-5  ">
    <div class="content text-white flex flex-row  space-x-7 items-center w-full">
      <div class="content__text py-20">
        <h2 class="heading__1 ">Music NFT</h2>

        <h3 class="heading__2">Marketplace.</h3>

        <h5 class="hero__text py-5"
         
        
        >
Create your first music NFTs with NFT market for musicians. 
Create <br/> music and music videos just under the $1, the platform works
 with BSC <br/> blockchain and supports mp4. With AirNFTs, you are getting the 
 control<br/> over your NFTs, no middle man cutting your sales. Create, Buy, Sell and <br/>  Earn with your music NFTs.

</h5>

  </div>



  <div class="content__image flex-1">
  
<img src="../../public/assets/hero3.png" />

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus sapiente iusto sit doloremque magni dolorum, atque facilis esse in quia culpa, quisquam dolor similique, ipsam est fuga neque recusandae commodi.
  
  </div>

    
    </div>

   
  </section>


  
  
  
  </div>

    
 
    


<style>


.hero3{
    background: linear-gradient( 262deg, rgba(220, 6, 255, 1) 0%,  rgba(0, 10, 11, 1) 64% );
}
  .content {

    /* background-image: url("../../public/assets/hero3.png"); */
    background-size: contain;
    background-position: 577px 43px;
    background-repeat: no-repeat;

    /* background-attachment: fixed; */

    /* background-position: center; */
  }
</style>
