---
import SolanaLogo from "../../public/assets/solanalogo.png";
import Marquee from "react-fast-marquee";
---

<div>
  <section class=" p-5  ">
    <div class="content text-white h-screen ">
      <div class="content__text py-20">
        <h2 class="heading__1 ">Music for NFT creators.</h2>

        <h3 class="heading__2">Digital Music for fans.</h3>

        <h5 class="hero__text py-5">
          Music NFTs will continue to revolutionize the way that artists and
          fans create community <br />together as we enter the upcoming year —
          undoubtedly changing the trajectory of <br /> countless budding music careers.
        </h5>
      </div>

      <div class="discover__more__container">
        <div class="powered__by">
          <p class="powered__by__text">Powered by</p>
          <img src={SolanaLogo} alt="Solana Logo" class="solana-logo" />
        </div>

        <button class="discover__more__button ">
          Discover More

          <div class="svg__icon">
            <svg
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 18.5L15 12.5L9 6.5"
                stroke="white"
                stroke-width="1.2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>

    <!-- <div class="hero__image -mt-10  w-96 ">
      <img src="../../public/assets/hero1.png" alt="" />
    </div> -->
  </section>

  <!-- <Marquee> -->
    <p class="text-white">
      I can be a React component, multiple React components, or just some text.
    </p>
  <!-- </Marquee> -->
</div>

<style>
  .content {
    background-image: url("../../public/assets/hero1.png");
    background-size: contain;
    background-position: 752px -6px;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* background-position: center; */
  }
</style>
