---
// import { Markdown } from "astro/components";
import Hero from "./Hero.astro";
import HeroSecond from './HeroSecond.astro'
import HeroThird from './HeroThird.astro'
import Engage from './Engage.astro'
import Footer from './Footer.astro'
import Discover from './Discover.jsx'
import DiscoverCard from './DiscoverCard.astro'

---
<div class="section">


</div>


